<div class="container h-100">
  <div class="row h-100">
    <div class="col-12 col-md-6">

      <div class="d-flex gap-3">
        <mat-form-field [style.width.%]="100">
          <mat-label>Super Heroe</mat-label>
          <input  type="text"
                  [(ngModel)]="defaultHeroe.superhero"
                  required
                  matInput>
        </mat-form-field>

        <mat-form-field [style.width.%]="100">
          <mat-label>Alter Ego</mat-label>
          <input  type="text"
                  [(ngModel)]="defaultHeroe.alter_ego"
                  matInput>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field [style.width.%]="100">
          <mat-label>Primera Aparicion</mat-label>
          <input  type="text"
                  [(ngModel)]="defaultHeroe.first_appearance"
                  required
                  matInput>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field [style.width.%]="100">
          <mat-label>Personajes</mat-label>
          <input  type="text"
                  [(ngModel)]="defaultHeroe.characters"
                  matInput>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field [style.width.%]="100">
          <mat-label>Creador</mat-label>
          <mat-select [(ngModel)]="defaultHeroe.publisher"
                      required>
            <mat-option [value]="'DC Comics'">Dc comic</mat-option>
            <mat-option [value]="'Marvel Comics'">Marvel</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field [style.width.%]="100">
          <mat-label>Foto URl</mat-label>
          <input  type="url"
                  [(ngModel)]="defaultHeroe.alt_img"
                  matInput>
        </mat-form-field>
      </div>

      <button (click)="saveHeroe()" class="w-100" mat-stroked-button color="accent">Accent</button>
    </div>

    <div class="col-12 col-md-6">
      <ng-container *ngIf="defaultHeroe.alt_img">
        
        <img [src]="defaultHeroe.alt_img" class="rounded d-block mx-auto mt-5 mt-md-0" alt="defaultHeroe.superhero" width="300px">
      
      </ng-container>
    </div>
  </div>
</div>
