<div class="container h-100 d-flex justify-content-center align-items-center">

    <div class="col-6">
        <img class="img-fluid" src="./../../../assets/error-404.jpg" alt="error-404">
        <p style="color: #ff4f5a;" class="text-center fs-2 lh-1 fw-bold">¿Buscabas algún Heroe?</p>
        <small class="d-block text-center link-secondary fs-6">Regresa al <a [routerLink]="['/heroes/list']" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"> Home</a></small>
    </div>    

</div>
